In [9]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
pd.__version__

'1.5.0'

In [69]:
## create connection to the postgres database for loading data later
engine = create_engine('postgresql://root:root@192.168.50.64:5433/nytaxi')
engine.connect()

## load the zone lookup table

In [ ]:
lookupdf = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv")

In [ ]:
print(pd.io.sql.get_schema(lookupdf, name="zone_lookup", con=engine))

In [ ]:
## load the data to a table named zone_lookup in postgres:

lookupdf.to_sql(name='zone_lookup',
               con=engine,
               if_exists='replace')

## load the parquet files from nyc site directly

In [49]:
df_parquet= pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-01.parquet",
                     engine='pyarrow')

In [58]:
df_parquet.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
pickupdate                       object
dropoffdate                      object
dtype: object

In [53]:
df_parquet.lpep_pickup_datetime = pd.to_datetime(df_parquet.lpep_pickup_datetime)
df_parquet.lpep_dropoff_datetime = pd.to_datetime(df_parquet.lpep_dropoff_datetime)

In [54]:
print(pd.io.sql.get_schema(df_parquet, name='greentaxi', con=engine))

CREATE TABLE greentaxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [ ]:
df.to_sql(name='yellow-taxi-data',
          con=engine,
          if_exists='append',
          chunksize=10000)

## for csv files instead of parquet
if the data comes in csv format, use this code

In [22]:
df_csv = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
                      , compression='gzip')

In [61]:
df_csv_iter = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
                          , compression='gzip'
                          , iterator=True
                          , chunksize=100000)

In [67]:
next(df_csv_iter)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

In [70]:
df_csv_iter = pd.read_csv("https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
                          , compression='gzip'
                          , iterator=True
                          , chunksize=100000)

# to iterate chunksizes, use next(df_iter)
# e.g. df = next(df) will go to the next iteration
# once you hit the end, python will throw an exception error

# to insert the header row, use this:
# df_csv_iter.head(n=0).to_sql(name='greentaxidata', con=engine, if_exists='replace')

while True:
    t_start = time()
    
    df = next(df_csv_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='greentaxi', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk of data, and it took %.3f seconds' % (t_end - t_start))

inserted another chunk of data, and it took 19.664 seconds
inserted another chunk of data, and it took 19.641 seconds
inserted another chunk of data, and it took 20.223 seconds
inserted another chunk of data, and it took 21.096 seconds
inserted another chunk of data, and it took 21.565 seconds
inserted another chunk of data, and it took 23.124 seconds
inserted another chunk of data, and it took 8.559 seconds

StopIteration:

## Compare the csv from datatalksclub with the .parquet from nyc taxi website

In [23]:
if df_parquet.shape == df_csv.shape:
    print("The dataframes have the same shape.")
else:
    print("The dataframes do not have the same shape.")

The dataframes do not have the same shape.

In [55]:
df_parquet.shape

(672105, 20)

In [56]:
df_csv.shape

(630918, 20)

In [27]:
df_csv.tail()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
630913,2,2019-01-31 23:08:27,2019-01-31 23:22:59,N,1,255,226,1,3.33,13.0,0.5,0.5,2.14,0.0,NaN,0.3,18.39,1,1,0.0
630914,2,2019-01-31 23:21:26,2019-01-31 23:23:05,N,1,75,151,1,0.72,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
630915,2,2019-01-31 23:30:05,2019-01-31 23:36:14,N,1,75,238,1,1.75,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,1,1,0.0
630916,2,2019-01-31 23:59:58,2019-02-01 00:04:18,N,1,74,74,1,0.57,5.0,0.5,0.5,1.00,0.0,NaN,0.3,7.30,1,1,0.0
630917,2,2019-01-31 23:18:22,2019-01-31 23:26:06,N,1,75,262,1,2.11,8.5,0.5,0.5,1.96,0.0,NaN,0.3,11.76,1,1,0.0

In [57]:
## convert the timestamps to dates:

df_parquet['pickupdate'] = df_parquet['lpep_pickup_datetime'].dt.date
df_parquet['dropoffdate'] = df_parquet['lpep_dropoff_datetime'].dt.date

In [45]:
df_parquet['pickupdate']

0         2018-12-21
1         2019-01-01
2         2019-01-01
3         2019-01-01
4         2019-01-01
             ...
672100    2019-01-31
672101    2019-01-31
672102    2019-01-31
672103    2019-01-31
672104    2019-01-31
Name: pickupdate, Length: 672105, dtype: object

In [46]:
# count the number of rows where both date fields are equal to '2019-01-15'
count = df_parquet[(df_parquet['pickupdate'] == '2019-01-15') & (df_parquet['dropoffdate'] == '2019-01-15')].shape[0]
print(count)

0

In [38]:
df_parquet.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,pickupdate,dropoffdate
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1.0,264,264,5.0,0.00,3.0,...,0.00,0.0,NaN,0.3,4.30,2.0,1.0,NaN,2018-12-21,2018-12-21
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1.0,97,49,2.0,0.86,6.0,...,0.00,0.0,NaN,0.3,7.30,2.0,1.0,NaN,2019-01-01,2019-01-01
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1.0,49,189,2.0,0.66,4.5,...,0.00,0.0,NaN,0.3,5.80,1.0,1.0,NaN,2019-01-01,2019-01-01
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1.0,189,17,2.0,2.68,13.5,...,2.96,0.0,NaN,0.3,19.71,1.0,1.0,NaN,2019-01-01,2019-01-01
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1.0,82,258,1.0,4.53,18.0,...,0.00,0.0,NaN,0.3,19.30,2.0,1.0,NaN,2019-01-01,2019-01-01

In [59]:
df_parquet[df_parquet['pickupdate'] == '2019-01-15']

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge, pickupdate, dropoffdate]
Index: []

[0 rows x 22 columns]

In [48]:
df_parquet.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
pickupdate                       object
dropoffdate                      object
dtype: object