In [8]:
import pandas as pd
from sqlalchemy import create_engine
from time import time
pd.__version__

'1.5.0'

In [9]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet",
                     engine='pyarrow')
df.dtypes

len(df)

1369769

In [3]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
engine = create_engine('postgresql://root:root@192.168.2.137:5433/nytaxi')
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name='yellowtaxidata', con=engine))

CREATE TABLE yellowtaxidata (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [11]:
df.to_sql(name='yellowtaxidata',
          con=engine,
          if_exists='append',
          chunksize=10000)

136769

## for csv chunking
if the data comes in csv format, use this code

In [ ]:
df_iter = pd.read_csv('data.csv', iterator=True, chunksize=100000)

# to iterate chunksizes, use next(df_iter)
# e.g. df = next(df) will go to the next iteration
# once you hit the end, python will throw an exception error

# to insert the header row, use this:
df.head(n=0).to_sql(name='tablename', con=engine, if_exists='replace')

while True:
    t_start = time()
    
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='tablename', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk of data, and it took %.3f seconds' % (t_end - t_start))

In [4]:
# get the data dictionary and load to postgres:

df_zones = pd.read_csv("https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv")

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265